.profile_container {
  display: flex;
  height: 84px;
  align-items: center;
  font-family: 'Inter';
  font-style: normal;
}
.photo_container {
  width: 88px;
  height: 84px;
  padding: 6px 16px 6px 0px;
}
.info_container {
  display: flex;
  flex-direction: column;
}
.namentag_container {
  display: flex;
  height : 26px;
  align-items: center;
}