.navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 100%;
    background: #FFFFFF;
}

.header_container{
    width: 76px;
    height: 48px;
}
.navbar h1 {
    margin: 8px 0px 12px 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

/* ////////////////////////////////////// */
/* ////////////////////////////////////// */
/* ////////////////////////////////////// */

.search_container {
    display: flex;
    height: 52px;
    width: 100%;
    padding: 6px 16px;    
}
.search_input {
    height: 40px;
    background: #F7F7F8;
    border-radius: 16px;
    width: 100%;
    padding: 8px 12px;
}
.inside_input {
    display: flex;
    height: 24px;
}

.inside_input button {
    border: none;
    background: none;
    padding: 0;
    height: 24px;
    width: 24px;
}
.inside_input svg {
    transition: fill 0.11s linear;
    fill: #C3C3C6;
}

.inside_input svg:hover {
    fill: #050510;
    cursor: pointer;
}
.inside_input input {
    border:0;
    outline:0;
    padding: 2px 8px;
    height: Hug(20px);
    width: 100%;
    background: none;

    font-family: "Inter"; 
    font-style: normal;
    font-weight: 500;
    font-size: 15px;

    caret-color: #6534FF;
}
/* input::-webkit-input-placeholder{
    background: red;
}
.inside_input input:focus {
    background-image: url(../../sourses/searchactive.svg);
} */
.inside_input input::placeholder{
    color: #C3C3C6;
}

/* ////////////////////////////////////// */
/* ////////////////////////////////////// */
/* ////////////////////////////////////// */

.scrollbar_container {
    display: flex;
    margin: 8px 0px 0px 16px;
    height: Hug(36px);
}
.navbar_divider {
    margin: 0;
    padding: 0;
    border: none;
    height: 0.03em;
    background: #C3C3C6;
    /* overflow: visible; */
}

