.tab_selector {
  height: 36px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #97979B;
}
.tab_selector:hover {
  color: #050510;
  cursor: pointer;
}
.tab_selector p {
  margin: 7px 12px;
  white-space: nowrap;
}
.tab_selector hr {
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  height: 2px;
  background: #6534FF;
  transform:scaleY(0);
  transform-origin: bottom;
  transition: transform 0.11s linear;
}
.active_tab {
  color: #050510;
}
.active_tab hr {
  transform:scaleY(1);
}